.root{
    border: 1px solid green;
    color : green;
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.comment-root{
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 6px;
    border: 1px solid blue;
    width: 100%;
    justify-content: right;
}

.comment-text{
    font-size: 1.2rem;
    color: yellow;
}

.comment-actions{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin: 5px 5px;
}

.comment-actions button{
    background-color: grey;
    cursor: pointer;
    color: black;
    border: 2px solid green;
    border-radius: 5px;
    padding:2px;
}

.comment-expand{
    display: flex;
}

.comment-expand button{
    cursor: pointer;
    border-radius: 5px;
}

.comment-reply{
    display: flex;
    gap: 10px;
    margin: 5px 5px;
}

.comment-reply input{
    width: 70%;
    border: 1px solid white;
    border-radius: 5px;
    padding:2px;
    color: white;
}

.comment-reply button{
    cursor: pointer;
    background-color: grey;
    color: black;
    border: 2px solid green;
    border-radius: 5px;
    padding:3px;
}